/* Couleurs */
/*Textes */
/* Breakpoints */
.pageloader {
  height: 50px;
  width: 50px;
  border: 8px solid white;
  border-top: 8px solid #9356DC;
  border-bottom: 8px solid #FF79DA;
  border-radius: 50%;
  color: #99E2D0;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  -webkit-animation: loader 1500ms 3, finloader 50ms 4500ms forwards;
          animation: loader 1500ms 3, finloader 50ms 4500ms forwards;
}

.pageloader i {
  -webkit-animation: loader 1500ms 3 reverse, finloader 50ms 4500ms forwards;
          animation: loader 1500ms 3 reverse, finloader 50ms 4500ms forwards;
}

.pl {
  width: 100%;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  background-color: #F6F6F6;
  opacity: 0;
  animation: finloader 4000ms reverse both;
  margin-bottom: 20px;
}

@-webkit-keyframes rot_icon {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot_icon {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes menu_loader {
  0% {
    opacity: 0;
  }
  50% {
    margin-top: 35px;
  }
  100% {
    opacity: 1;
    margin-top: 15px;
  }
}

@keyframes menu_loader {
  0% {
    opacity: 0;
  }
  50% {
    margin-top: 35px;
  }
  100% {
    opacity: 1;
    margin-top: 15px;
  }
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes finloader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes finloader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

header {
  font-family: 'Shrikhand', sans-serif;
  font-size: 15px;
}

header a {
  font-size: 25px;
}

body {
  background-color: white;
  max-width: 600px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  background-color: white;
}

@media screen and (min-width: 768px) {
  header {
    width: 30%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 20px;
  }
}

header a {
  position: absolute;
  left: 20px;
  top: 25px;
}

.header_image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.header_image img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  color: white;
  background-color: #444444;
  -webkit-box-shadow: 6px 6px 0px #909090;
          box-shadow: 6px 6px 0px #909090;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
  top: -20px;
}

@media screen and (min-width: 768px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    margin-bottom: 20px;
  }
}

footer ul {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media screen and (min-width: 768px) {
  footer ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 60%;
  }
}

footer li {
  line-height: 2;
  list-style: none;
}

footer li .fa-solid {
  padding: 0;
}

footer h2 {
  font-family: 'Shrikhand',sans-serif;
  margin-left: 20px;
  padding-top: 12px;
  font-size: 16px;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  footer h2 {
    padding-top: 4px;
  }
}

footer a {
  text-decoration: none;
  color: white;
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -20px;
  border-radius: 20px 20px 0 0;
  position: relative;
  top: -20px;
  background-color: #F6F6F6;
  z-index: 1;
  text-align: left;
  padding: 5px 0 20px 0;
}

@media screen and (min-width: 768px) {
  .menu {
    width: 59%;
    top: 0;
    padding-top: 20px;
    margin-left: 20px;
  }
}

.menu h1 {
  font-family: 'Shrikhand',sans-serif;
  margin-top: 8px;
  margin-bottom: 8px;
}

.menu_titre {
  margin-top: 8px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu_titre--nom {
  width: 80%;
  height: auto;
}

.menu_titre--note {
  width: 19%;
  height: auto;
  font-size: 25px;
}

.menu_type {
  position: relative;
  margin: 8px;
  width: 90%;
}

.menu_type::before {
  content: '';
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 30px;
  height: 3px;
}

.menu_type h2 {
  margin: auto;
  margin-top: 15px;
  font-weight: 100;
  font-size: 13px;
}

.menu_plats {
  width: 90%;
  max-width: 400px;
  height: 50px;
  margin: 35px auto 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  border-radius: 18px;
  background-color: white;
  opacity: 0;
  -webkit-animation: menu_loader 2000ms 3s both;
          animation: menu_loader 2000ms 3s both;
  cursor: pointer;
}

.menu_plats:hover .menu_plats--nom {
  min-width: 63%;
}

.menu_plats:hover i {
  -webkit-animation: rot_icon 1500ms;
          animation: rot_icon 1500ms;
}

.menu_plats--nom {
  min-width: 80%;
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}

.menu_plats--nom p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
  line-height: 1.5;
}

.menu_plats--nom p::first-line {
  font-weight: bold;
}

.menu_plats--prix {
  min-width: 20%;
  text-align: center;
  margin-left: 12px;
  padding-top: 18px;
}

.menu_plats--commande {
  min-width: 15%;
  height: 50px;
  background-color: #99E2D0;
  color: white;
  text-align: center;
  border-radius: 0 18px 18px 0;
  line-height: 50px;
  font-size: 20px;
}

.menu a {
  margin: 0 auto;
}

.menu_bouton {
  background-color: #9356DC;
  color: white;
  padding: 0 15px;
  border: none;
  border-radius: 25px;
  height: 40px;
  margin: 10px 0;
  line-height: 40px;
  -webkit-box-shadow: 3px 3px #6023a9;
          box-shadow: 3px 3px #6023a9;
  -webkit-transition: background-color 20ms;
  transition: background-color 20ms;
  cursor: pointer;
}

.menu_bouton:hover {
  background-color: #ae80e5;
  -webkit-box-shadow: 3px 6px #6023a9;
          box-shadow: 3px 6px #6023a9;
}

.menu_cde {
  margin-top: 10px;
}

.present {
  background-color: #F6F6F6;
  width: 100%;
}

.present_loc {
  background-color: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-top: 2px solid #dddddd;
}

.present_loc i {
  padding-right: 8px;
}

.present_text {
  width: 60%;
  margin: auto;
}

.present_lien {
  margin-bottom: 15px;
}

.present_bouton {
  background-color: #9356DC;
  color: white;
  padding: 0 15px;
  border: none;
  border-radius: 25px;
  height: 40px;
  margin: 10px 0;
  line-height: 40px;
  -webkit-box-shadow: 3px 3px #6023a9;
          box-shadow: 3px 3px #6023a9;
  -webkit-transition: background-color 20ms;
  transition: background-color 20ms;
  cursor: pointer;
}

.present_bouton:hover {
  background-color: #ae80e5;
  -webkit-box-shadow: 3px 6px #6023a9;
          box-shadow: 3px 6px #6023a9;
}

.present h2 {
  text-align: center;
}

.fonction {
  width: 100%;
  max-width: 600px;
  font-weight: 800;
  background-color: white;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .fonction {
    border-radius: 20px;
  }
}

.fonction h2 {
  padding-top: 25px;
  margin-left: 20px;
  text-align: left;
}

.fonction h3 {
  padding: 3px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  font-size: 11px;
  margin-left: 20px;
  z-index: 2;
}

.fonction p, .fonction i {
  padding: 0 10px;
}

.fonction_groupe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 10px 0;
}

.fonction_choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #F6F6F6;
  padding: 8px 15px;
  border-radius: 15px;
  margin-left: -10px;
  width: 80%;
  z-index: 1;
}

.fonction_choix:hover {
  background-color: #f2eafb;
}

.fonction_choix:hover i {
  color: #9356DC;
}

.restaurants {
  width: 100%;
  background-color: #F6F6F6;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .restaurants {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
}

.restaurants h2 {
  margin-left: 10px;
  text-align: left;
  width: 95%;
}

.restaurants a {
  text-decoration: none;
  color: black;
}

.restaurants_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  position: relative;
  margin-bottom: 14px;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .restaurants_card {
    max-width: 300px;
    margin: 14px;
  }
}

.restaurants_card--img {
  width: 100%;
  overflow: hidden;
}

.restaurants_card--img img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/2;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.restaurants_card--legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants_card--texte {
  font-size: 14px;
  width: 80%;
  text-align: left;
  margin-left: 10px;
  line-height: 0.5;
}

.restaurants_card--icone {
  font-size: 25px;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.restaurants_card--icone i {
  position: absolute;
  right: 15px;
  bottom: 15px;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.restaurants_card--icone .fa-regular {
  opacity: 1;
}

.restaurants_card--icone .fa-solid {
  opacity: 0;
  color: #9356DC;
}

.restaurants_card--icone:hover .fa-regular {
  opacity: 0;
}

.restaurants_card--icone:hover .fa-solid {
  opacity: 1;
}

.restaurants_new {
  color: #32b091;
  background-color: #99E2D0;
  padding: 8px;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 1;
  font-weight: 900;
}
