@keyframes rot_icon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes menu_loader {
    0% {
        opacity: 0;
    }
    50% {
        margin-top: 35px;
    }
    100% {
        opacity: 1;
        margin-top: 15px;
    }
}
@keyframes icon_change {
    from {
        color: black;
        .fa-regular {display: inline;}
        .fa-solid {display: none;}
    }
    to {
        color: $couleur-primaire;
        .fa-regular {display: none;}
        .fa-solid {display: inline;}
    }
}