@mixin bouton {
    background-color: $couleur_primaire;
    @if (lightness($couleur_primaire)<25%) {
        color: black;
        }
    @else {
        color:white;
    }
    padding: 0 15px;
    border: none;
    border-radius: 25px;
    height: 40px;
    margin: 10px 0;
    line-height: 40px;
    cursor: pointer;
}