/* Couleurs */
$couleur_primaire:#9356DC;
$couleur_secondaire:#FF79DA;
$couleur_tertiaire:#99E2D0;
$couleur_background:#F6F6F6;
$couleur_texte:black;
$couleur_texte_bouton:white;
$couleur_texte_footer:white;

/*Textes */
$txt_haut_std:13px;
$txt_haut_header:15px;
$icone_haut:20px;

/* Breakpoints */
$breakpoints: (
    mobile:768px,
)