footer {
    color: $couleur_texte_footer;
    background-color: darken($couleur_background, 70%);
    box-shadow: 6px 6px 0px darken($couleur_background, 40%);
    text-align: left;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    top:-20px;
    @include no-mobile {
        flex-flow: row nowrap;
        justify-content: center;
        top:0;
    }
    ul {
        padding-left: 20px;
        display: flex;
        flex-flow: column nowrap;
        @include no-mobile {
            flex-direction: row;
            justify-content: space-evenly;
            width: 60%;
        }
    }
    li {
        line-height: 2;
        list-style: none;
        .fa-solid {
            padding: 0;
        }
    }
    h2 {
        font-family: 'Shrikhand',sans-serif;
        margin-left: 20px;
        padding-top: 12px;
        font-size: 16px;
        font-weight: normal;
        @include no-mobile {
            padding-top: 4px;
        }
    }
    a {
        text-decoration: none;
        color: $couleur_texte_footer;
    }
}