header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    a {
        position: absolute;
        left: 20px;
        top:25px;
    }
}
.header {
    &_image {
        width: 100%;
        height: auto;
        object-fit: cover;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}